.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.2);
}

.chapterPageContainer {
    width: 100%;
}

.title, .progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress {
    margin-top: 3.25rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.progress span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 1rem;
    width: 33%;
    text-align: center;
    background-color: var(--grey);
    border: 1px solid var(--dark-grey);
    white-space: nowrap;
}

.progress span:hover {
    filter: brightness(115%);
    cursor: pointer;
}

.disabled {
    filter: brightness(115%);
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2rem;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}

.navigation a {
    text-decoration: none;
    color: var(--black);
}

.navigation a:hover {
    font-weight: bold;
} 

@media screen and (max-width: 750px) {

    .progress {
        width: 100vw;
    }

    .progress span {
        font-size: 0.85rem;
    }

    .imageContainer {
        width: 100vw;
    }

}