.tag {
    padding: 0rem 0.2rem;
    margin: 0.1rem;
    border: 1px solid var(--black);
    border-radius: 4px;
    font-size: 0.85rem;
    height: calc(0.85rem + 0.4rem);
    background-color: var(--grey);
    border: none;
}

@media screen and (max-width: 750px) {

    .tag {
        font-size: 0.8rem;
        height: calc(0.8rem + 0.4rem);
    }
}