.mangaBox {
    height: 100%;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto 1fr;
    background-color: var(--light-gray);
    border: 1px solid var(--grey);
    overflow: hidden;
}

.imageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: span 3;
    height: 100%;
}

.details, .synopsis, .tags {
    padding: 0.3rem 1rem;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.details {
    grid-row: 1;
    grid-column: 2;
}

.details p {
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.synopsis {
    grid-row: 3;
    grid-column: 2;
}

.status {
    text-transform: capitalize;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    grid-row: 2;
    grid-column: 2;
}

.synopsis {
    overflow: hidden;
}

.synopsis h4 {
    font-size: 0.9rem;
}

.synopsis p {
    text-align: justify;
    font-size: 0.9rem;
    word-wrap: break-word;
    line-height: 1.15rem;
    text-overflow: ellipsis;
}

@media screen and (max-width: 750px) {

    .mangaBox {
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr auto 1fr;
    }

    .scanlationGroup {
        padding-left: 1rem;
    }

    .details p {
        font-size: 0.8rem;
    }

    .title {
        font-size: 1rem;
    }

    .imageBox {
        grid-row-end: 3;
    }

    .tags {
        grid-column-start: 2;
        grid-column-end: span 3;
        padding-top: 0rem;
        width: 65%;
    }    

    .synopsis {
        grid-column-start: 1;
        grid-column-end: span 3;
    }

    .synopsis p {
        font-size: 0.85rem;
    }

}