.control {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0rem;
    border-bottom: 1px solid var(--grey);
    line-height: 1.1rem;
}

.control p {
    font-size: 0.8rem;
    color: var(--dark-grey);
    margin-left: 0.1rem;
}

.input, .select {
    font-size: 1.1rem;
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 0.2rem 0.75rem;
    width: 9rem;
}

.input:focus, .select:focus {
    outline: none;
    border: 1px solid var(--black);
}

.select {
    background: var(--white);
}

.chapterList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.chapterDetail {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chapterLink {
    text-decoration: none;
    color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.3rem 0.75rem;
    line-height: 1.2rem;
    font-size: 0.9rem;
    background-color: var(--light-gray);
    border: 5px;
    margin-left: auto;
    margin-right: auto;
}

.chapterLink:hover {
    filter: brightness(95%);
}

.chapterDate {
    font-size: 0.85rem;
    color: var(--dark-grey);
}

.scanlationGroup {
    text-align: right;
}

@media screen and (max-width: 750px) {

    .control {
        width: 95%;
    }

    .control p {
        font-size: 0.75rem;
    }

    .input, .select {
        font-size: 1rem;
    }

    .chapterList {
        margin-top: 0.5rem;
        width: 95%;
    }

    .chapterName {
        line-height: 1.1rem;
    }

    .chapterLink {
        font-size: 0.85rem;
        margin: 0.2rem;
    }

    .chapterDate {
        font-size: 0.8rem;
    }
}