 nav {
    top:0;
    position: fixed;
    height: 3rem;
    width: 100vw;
    border-bottom: 1px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 20%;
}

.headerName {
    font-size: 1.1rem;
}

.toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: var(--transition);
    display: none;
}

.toggleRotate {
    transform: rotate(90deg);
}

.logo {
    height: 3rem;
}

.linksContainer {
    width: 70%;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.links li {
    list-style: none;
}

.account {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 1rem;
    width: 10%;
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--black);
}

nav a:hover {
    font-weight: bold;
}

.noBorder {
    border-bottom: none;
}

@media screen and (max-width: 740px) {
    
    .toggle {
        display: block;
        margin-left: 1rem;
    }

    .logo {
        margin-left: 1rem;
    }

    .account {
        width: 20%;
    }

    .links {
        flex-direction: column;
        z-index: 1;
        width: 100vw;
        top: 3rem;
        left: 0;
        position: absolute;
        background-color: white;
        border-bottom: 1px solid var(--grey);
        align-items: flex-start;
    }

    .links li {
        width: 100vw;
    }

    .links a {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        display: block;
        padding: 0.5rem 2rem;
    }
}