.mangaBoxContainer {
    width: 70%;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.chapterList {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chapterDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.4rem;
}

.chapterDate {
    font-size: 0.85rem;
    color: var(--dark-grey);
}

.scanlationGroup {
    text-align: right;
}

@media screen and (max-width: 750px) {

    .mangaBoxContainer {
        width: 95%;
        height: auto;
        margin-top: 3.5rem;
    }

    .chapterList {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5rem 0.5rem;
    }

    .scanlationGroup {
        padding-left: 1rem;
    }

    .chapterDetail p {
        font-size: 0.85rem;
    }

}