.mangaInfo {
    width: 70vw;
    height: 75vh;
    margin-left: 15vw;
    margin-right: 5rem;
    margin-top: 5rem;
    border-radius: 4px;
    box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto 1fr;
}

.chapterList {
    width: 50vw;
    margin-left: 24vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chapterDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.4rem;
}

.chapterDate {
    font-size: 0.85rem;
    color: var(--dark-grey);
}

.scanlationGroup {
    text-align: right;
}

.imageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: span 3;
    height: 100%;
}

.mainDetails, .synopsis, .tags {
    padding: 0.5rem 1rem;
}

.mainDetails {
    grid-row: 1;
    grid-column: 2;
}

.synopsis {
    grid-row: 3;
    grid-column: 2;
}

.status {
    text-transform: capitalize;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    grid-row: 2;
    grid-column: 2;
}

.description {
    text-align: justify;
    font-size: 0.9rem;
    word-wrap: break-word;
}

@media screen and (max-width: 750px) {
    
    .mangaInfo {
        width: 95vw;
        height: auto;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        margin-top: 4rem;
        flex-direction: column;
        grid-template-columns: 40% 60%;
    }

    .chapterList {
        width: 80vw;
        margin-left: 8vw;
        margin-right: 8vw;
        padding: 0.5rem 0.5rem;
    }

    .scanlationGroup {
        padding-left: 1rem;
    }

    .chapterDetail p {
        font-size: 0.85rem;
    }

    .mainDetails p {
        font-size: 0.9rem;
    }

    .title {
        font-size: 1.1rem;
    }

    .imageBox {
        grid-row-end: 3;
    }

    .tags {
        grid-column-start: 2;
        grid-column-end: span 3;
        padding-top: 0rem;
        width: 65%;
    }    

    .synopsis {
        grid-column-start: 1;
        grid-column-end: span 3;
    }

    .description {
        font-size: 0.85rem;
        width: calc(95vw - 2rem);
        text-overflow: ellipsis;
    }

}